body {
  font-family: 'Open Sans', sans-serif;
  color: #494d55;
  font-size: 16px;
}

.header {
  background: #494d55;
  color: rgba(255, 255, 255, 0.85);
  border-top: 5px solid #40babd;
  padding: 30px 0;
}

.branding {
}
